<%= link_to "Verwaltung", :action=>:index %><br />

<%= link_to "<< Zurück (#{l @date-1, :format=>:short})", :date=>@date-1 %> 
&bull; <%= link_to "Liste", :controller=>:comics, :action=>:daylist %> 
<% if @date<Date.today %>
  &bull; <%= link_to "Weiter (#{l @date+1, :format=>:short}) >>", :date=>@date+1 %>
<% elsif @date==Date.today && Time.now.hour>12 %>
  &bull; <%= link_to "Weiter (#{l @date+1, :format=>:short}) >>", {:date=>@date+1}, :class=>"inactive" %>
<% end %>

<h1><%= l @date, :format=>:very_long %></h1>

<% @comics.each do |comic| %>
  <h2><%= link_to comic.name, comic_url(comic) %></h2>
  <% comic.strips.by_date(@date).each do |strip| %>
	<%= render :partial=>"common/strip", :locals=>{:strip=>strip} %>
  <% end %>
<% end %>

<br /><br />
<%= link_to "<< Zurück (#{l @date-1, :format=>:short})", :date=>@date-1 %> 
&bull; <%= link_to "Liste", :controller=>:comics, :action=>:daylist %> 
<% if @date<Date.today %>
  &bull; <%= link_to "Weiter (#{l @date+1, :format=>:short}) >>", :date=>@date+1 %>
<% elsif @date==Date.today && Time.now.hour>12 %>
  &bull; <%= link_to "Weiter (#{l @date+1, :format=>:short}) >>", {:date=>@date+1}, :class=>"inactive" %>
<% end %>

