<h1>Debug-Ansicht zu <%= h @comic.name %></h1>
<h2>Element-Abfrage</h2>
<% if @element==nil %>
  <p>Es wurd kein passendes Element gefunden!</p>
<% elsif @element.name!="img" %>
  <p>Es wurde ein Element gefunden, welches jedoch kein img-Element ist:</p>
  <p><%= h @element %>
<% else %>
  <p>Die Suchanfrage auf der Seite ergibt folgendes Element:</p>
  <p><%= h @element %></p>

  <h2>Ergebnis der URL-Auswertung</h2>
  <p>Folgende URL wurde gefunden:</p>
  <p><%= h @image_url %></p>

  <h2>Bild</h2>
  <% if @get_image_data_error %>
    <p>Bild konnte nicht geladen werden. Grund: <%= h @get_image_data_error %>
  <% else %>
    <p>Folgendes Bild wurde gefunden:</p>
    <p><img src="data:<%= @data[:content_type] %>;base64,<%= Base64.encode64(@data[:data]) %>" /></p>
  <% end %>

<% end %>

<h2>Aktionen</h2>
<%= link_to "Comic bearbeiten", edit_comic_url(@comic) %><br />
<%= link_to "Übersicht", comics_url %>
