<h1>Debug-Ansicht zu <%= h @comic.name %></h1>
<h2>Element-Abfrage</h2>
<% if @result[:element]==nil %>
  <p>Es wurd kein passendes Element gefunden! HTML-Code:</p>
  <pre><%= h @result[:document] %></pre>
<% elsif @result[:element].name!="img" %>
  <p>Es wurde ein Element gefunden, welches jedoch kein img-Element ist:</p>
  <p><%= h @result[:element] %>
<% else %>
  <p>Die Suchanfrage auf der Seite ergibt folgendes Element:</p>
  <p><%= h @result[:element] %></p>

  <h2>Ergebnis der URL-Auswertung</h2>
  <p>Folgende URL wurde gefunden:</p>
  <p><%= h @result[:url_original].to_s %></p>
  <p>Umgeschriebene URL:</p>
  <p><%= h @result[:url_rewritten].to_s %></p>

  <h2>Bild</h2>
  <% unless @result[:image_data] %>
    <p>Bild konnte nicht geladen werden. Grund: <%= h @result[:exception] %>
  <% else %>
    <p>Folgendes Bild wurde gefunden:</p>
    <p><img src="data:<%= @result[:image_data][:content_type] %>;base64,<%= Base64.encode64(@result[:image_data][:data]) %>" /></p>
  <% end %>

<% end %>

<h2>Aktionen</h2>
<%= link_to "Comic bearbeiten", edit_comic_url(@comic) %><br />
<%= link_to "Übersicht", comics_url %>
