<table>
  <tr>
    <th>Name</th>
    <th>Letzter Comic</th>
    <th>Anzahl Comics</th>
    <th>Aktionen</th>
  </tr>

  <% @comics.each do |comic| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= link_to comic.name, comic %></td>
      <td><%= time_ago_in_words(comic.strips.last.date) rescue "Nie" %></td>
      <td><%= comic.strips.count %></td>
      <td><%= link_to image_tag("icons/picture_edit.png", :title=>"Comic bearbeiten"), edit_comic_path(comic) %>
          <%= link_to image_tag("icons/bug.png", :title=>"Debug-Ansicht"), debug_comic_url(comic) %>
          <%= link_to image_tag("icons/picture_delete.png", :title=>"Löschen"), comic, :method=>:delete, :confirm=>"Wirklich löschen? Es werden auch alle Bilder und so gelöscht..." %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Comic hinzufügen", new_comic_url %>
