<% form_tag use_online_list_url, :method=>:post do %>
  <% unless @updateable_comics.empty? %>
    <h1>Updatebare Comics</h1>
    <% @updateable_comics.each do |comic| %>
      <%= check_box_tag "comics[]", comic["ident"] %> <strong><%= comic["name"] %></strong> (<%= link_to "link", comic["base_url"], :target=>"_blank" %>)<br />
    <% end %>
  <% end %>

  <% unless @new_comics.empty? %>
    <h1>Neue Comics</h1>
    <% @new_comics.each do |comic| %>
      <%= check_box_tag "comics[]", comic["ident"] %> <strong><%= comic["name"] %></strong> (<%= link_to "link", comic["base_url"], :target=>"_blank" %>)<br />
    <% end %>
  <% end %>

  <br />
  <%= submit_tag "Hinzufügen / Aktualisieren" %>
<% end %>
