<html>
  <head>
    <title>Rubycom</title>
    <%= javascript_include_tag :all %>
    <%= stylesheet_link_tag "style" %>
    <link rel="alternate" type="application/atom+xml" href="<%= feed_url %>" />
  </head>

  <body>
    <ul class="menu">
      <li><%= link_to "Archiv", root_url %></li>
      <li><%= link_to "Verwaltung", comics_url %></li>
      <li><%= link_to "Atom-Feed", feed_url %></li>
    </ul>

    <% flash.each do |key, value| %>
      <div class="flash <%= h key %>"><%= h value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
