<html>
  <head>
    <title>Rubycom</title>
    <%= javascript_include_tag :all %>
    <%= stylesheet_link_tag "style" %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="flash <%= h key %>"><%= h value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
